*,html,body{padding:0;border:0;margin:0;}
a{border:0;text-decoration:none;outline:none;}
ul { list-style: none; }
input{outline:none;}
iframe{border:0;}
.clearfix{
	clear:both !important;
	width:100% !important;
	height:1px !important;
	font-size:1px !important;
}
.nomtop { margin-top:0; }
.nombottom { margin-bottom: 0; }