@import "default";
html { background:url('../img/background.jpg'); }
body{
    font-family:"Arial", sans-serif;
    font-size:10px;
    position:relative;
}



.bartop {
    background:@blue;
    display:block;
    padding:6px 0;
    .alfa {
        float:left;
        background:url('../img/mini-logo.png') top left no-repeat;
        .aller(10px,bl);
        color:@lightblue;
        padding-left:20px;
    }
    nav {
        float:right;
        ul {
            li {
                display:inline;
                padding:0 5px;
                a{
                    .aller(10px,bl);
                    color:@lightblue;
                    &:hover {
                        color:white;
                    }
                }
                &.separator {
                    padding:0;
                    .aller(10px,bl);
                    color:@lightblue;
                }
            }
        }
    }
}

#container {
    background:#f2f2f2;
    padding:0 20px;
    padding-bottom:230px;
    position:relative;
}

.share {
    background:url('../img/sharebar.jpg') top center repeat-y;
    z-index:10;
    min-width:94px;
    position:absolute;
    right:-105px;
    display:block;
    overflow:hidden;
    text-align:center;
    .content{
        position:fixed;
        .title {
            background:@blue;
            color:white;
            .aller(12px,bl);
            padding:12px 8px;
            display:block;
        }
        
        .sharebutton {
            margin:15px auto;
            display:block;
            width:61px;
            max-height:61px;
            overflow:hidden;
        }
        
        .email {
            width:50px;
            height:20px;
            text-indent:-9999px;
            background:url('../img/email.png') 0 0 no-repeat;
            margin:15px auto;
            display:block;
        }
    }
}

header {
    display:block;
    padding-top:18px;
    .logo {
        background:url('../img/logo.png') 0 0 no-repeat;
        text-indent:-9999px;
        height:55px;
    }
    .date {
        font-style:italic;
        color:#4e4d4d;
        text-transform:uppercase;
        padding-top:24px;
    }
    .form {
        padding-top:18px;
        float:right;
        .text {
             input[type=text] {
                border:1px solid @blue;
                .border-radius(20px);
                background:none;
                display:inline;
                color:@blue;
                text-transform:uppercase;
                padding:5px 18px;
                font:10px "Arial", serif;
                &:focus {
                    color:#004599;
                    font-style:italic;
                }
             }
        }
        .submit {
            input[type=submit]{
                display:inline;
                padding:5px 8px;
                background:@blue;
                font:10px "Arial", serif;
                color:white;
                .border-radius(20px);
            }
        }
    }
    
    nav {
        padding-top:28px;
        ul {
            li {
                display:inline;
                margin-left:15px;
                float:left;
                padding-bottom:16px;
                &:first-child {
                    margin-left:0;
                }
                a { 
                    .aller(12px,bl);
                    padding-bottom:4px;
                }
                &.idiomas {
                    a { 
                        color:@idiomas; 
                        border-bottom:4px solid @idiomas;
                    }
                }
                &.bilingue{
                    a{ 
                        color:@bilingue; 
                        border-bottom:4px solid @bilingue;
                    }
                }
                &.infantil{
                    a{ 
                        color:@infantil; 
                        border-bottom:4px solid @infantil;
                    }
                }
                &.fd1{
                    a{ 
                        color:@fd1; border-bottom:4px solid @fd1;
                    }
                }
                &.fd2 {
                    a{ 
                        color:@fd2; 
                        border-bottom:4px solid @fd2;
                    }
                }
                &.medio {
                   a{ 
                        color:@medio; 
                        border-bottom:4px solid @medio;
                    }
                }
                &.vestibular {
                    a{ 
                       color:@vestibular; 
                       border-bottom:4px solid @vestibular;
                    }
                }
                &.high {
                    a{ 
                        color:@high; 
                        border-bottom:4px solid @high;
                    }
                }
            }
        }
    }
    
    .atendimento {
        margin-top:20px;
        border:1px solid @green;
        .border-radius(20px);
        .aller(10px,bl);
        color:@green;
        padding:5px 0;
        text-align:center;
        position:relative;
        float:right;
        .balloons {
            width:34px;
            height:33px;
            background:url('../img/baloons.png') 0 0 no-repeat;
            position:absolute;
            left:-17px;
            top:-8px;
        }
    }
}

#banner {
    display:block;
    height:315px;
    padding-top:15px;
    position:relative;
    .cycle {
        height:315px;
        display:block;
        overflow:hidden;
    }
    ul#nav{
        position:absolute;
        bottom:18px;
        left:18px;
        z-index:10;
        li {
            display:block;
            a {
                display:block;
                background:url('../img/nav-banner.png') 0 -20px no-repeat;
                width:20px;
                height:20px;
                text-indent:-9999px;
            }
            &.activeSlide {
                a {
                    background-position: 0 0;
                }
            }
        }
    }
}

.adsmiddle { margin:30px 0; }


.noticias {
    margin-top:25px;
    .titulo {
        display:block;
        .aller(13px,bl);
        padding-bottom:2px;
        b {
            .aller(20px,bl);
        }
        a{
            .aller(10px,bl);
            color:#656565;
            float:right;
            margin-top:8px;
            &:hover {
               color:#999;
            }
        }
    }
    
    .principais{
        display:block;
        position:relative;
        padding-top:16px;
        .principal {
            a {
                display:block;
                position:relative;
                width:670px;
                img {
                    float:left;
                    width:459px;
                    height:236px;
                    border-top:7px solid #d9d9d9;
                    border-bottom:7px solid #d9d9d9;
                    border-left:7px solid #d9d9d9;
                }
                .content {
                    /*float:right;*/
                    position:absolute;
                    right:0;
                    color:white;
                    padding:29px 29px;
                    width:146px;
                    .title {
                        display:block;
                        .aller(16px,bl);
                        padding-bottom:10px;
                        margin-bottom:18px;
                        border-bottom:2px solid #fff;
                    }
                }
            }
        }
        .nav_noticias{
            position:absolute;
            bottom:20px;
            left:20px;
            padding:0 25px;
            z-index:10;
            ul#navigate {
                li {
                    float:left;
                    margin-left:3px;
                    a{
                        width:13px;
                        height:12px;
                        background:url('../img/nav-noticias.png') -32px -4px no-repeat;
                        display:block;
                        text-indent:-9999px;
                    }
                    &.activeSlide{
                        a {
                            background:url('../img/nav-noticias.png') -21px -4px no-repeat;
                        }
                    }
                    &:first-child{
                        margin:0;
                    }
                }
            }
            .next{
                width:20px;
                height:19px;
                display:block;
                cursor:pointer;
                text-indent:-9999px;
                background:url('../img/nav-noticias.png') -46px 0 no-repeat;
                position:absolute;
                right:0;
                top:-5px;
            }
            .prev{
                width:20px;
                height:19px;
                display:block;
                cursor:pointer;
                text-indent:-9999px;
                background:url('../img/nav-noticias.png') 0 0 no-repeat;
                position:absolute;
                left:0;
                top:-5px;
            }        
        }
    }
    
    .noticia {
        padding-bottom:18px;
        margin-top:20px;
        position:relative;
        img {
            float:left;
            border:7px solid #d9d9d9;
        }
        .title {
            font:italic bold 11px "Arial", serif;
        }
        .time {
            position:absolute;
            bottom:18px;
            left:136px;
            width:90px;
            font-weight:bold;
            font-size:10px;
            color:#3c3c3b;
        }
    }
    
}

.sidebar {
    
    &.prefixes {
        .button {
            background-color:#7f7f7f;
        }
        .menu {
            .button {
                background-color:@blue;
            }
        }
    }
    
    .button {
        background:@blue url('../img/bordertitle.jpg') 5px 0 no-repeat;
        padding:5px 0;
        padding-left:20px;
        margin-top:3px;
        display:block;
        .aller(12px,bl);
        color:white;
        &:hover {
            color:#ccc;
        }
        &.inactive {
            
        }
    }    
    
    .menu {
        ul { padding-bottom:25px; }
        .button {
            color:white;
            &:hover {
                color:#ccc;
            }
        }
        a {
            color:@blue;
            &:hover {
                color:@fd2;
            }
        }
        &.inactive {
            ul {
                display:none;
            }
            .button {
                 background-color:#7f7f7f;
            }
        }
    }
    
    ul {
        display:block;
        li {
            display:block;
            a { .aller(13px,bl); }
            padding-left:20px;
            margin-top:15px;
            &:first-child {
                margin-top:20px;
            }
        }
    }
    
    .arearestrita {
        margin-top:25px;
        height:134px;
        background:#3b5c9f url('../img/bgrestrict.jpg') left bottom no-repeat;
        .title {
            background:@blue;
            color:white;
            .aller(10px,bl);
            display:block;
            padding:6px 20px;
            b {
                .aller(12px,bl);
            }
        }
        .password {
            margin-top:6px;
        }
        .text {
            margin-top:15px;
        }
        .password,.text {
            display:block;
            overflow:hidden;
            label {
                display:inline;
                text-align:right;
                color:white;
                font-size:11px;
                font-weight:bold;
            }
            input[type=text], input[type=password] {
                display:inline;
                background:white;
                padding:5px 10px;
                width:90px;
                .border-radius(20px);
                color:#3c3c3b;
                font-size:10px;
            }
        }
        .submit {
            display:block;
            input[type=submit]{
                margin-top:6px;
                text-align:center;
                color:white;
                font-size:11px;
                font-weight:bold;
                background:#3f65ae;
                .border-radius(20px);
                padding:5px 0;
                /*width:110px;*/
            }
        }
    }
    
    .acesso{
        display:block;
        margin:25px 0;
        .title {
            border-bottom:4px solid @fd1;
            color:@fd1;
            .aller(12px,bl);
            display:block;
            padding-bottom:5px;
            b{
               .aller(20px,bl);
            }
        }
        a { 
            color:@fd1; 
            &:hover {
               color:#f97a41;
            }
        }
    }
    
    .adsside {
        margin-top:25px;
        display:block;
        img{
            border:1px solid #9c9b9b;
        }
    }
    
}

.mestre {
    margin-top:25px;
    .title{
        display:block;
        .aller(13px,bl);
        b{ .aller(20px,bl); }
        padding-bottom:5px;
    }
    .professor {
        margin-top:20px;
        font-style:italic;
        font-size:12px;
        color:#575756;
        img {
            border:7px solid #d9d9d9;        
            display:block;
        
        }
        .name {
            .aller(13px,bl);
            padding-bottom:6px;
            display:block;
            margin:10px 0;
            text-transform:uppercase;
        }
    }
    
}

.element {
    
    .title {
        display:block;
        padding-bottom:7px;
        .aller(12px,bl);
        b {
           .aller(20px,bl);
        }
        .st {
            color:#3c3c3b;
        }
    }
    
    .first {
        display:block;
        padding-top:10px;
        .image {
            background:white;
            position:relative;
            border:1px solid #b2b2b2;
            padding:3px;
            display:block;
            img{ 
                display:block;
            }
            .play {
                position:absolute;
                top:40px;
                left:70px;
                display:block;
                background:url('../img/play.png') 0 0 no-repeat;
                width:47px;
                height:33px;
            }
        }
        .time {
            font-size:10px;
            font-weight:bold;
            padding:6px 0;
            color:#3c3c3b;
            display:block;
        }
        .title {
            .aller(12px,bl);
            display:block;
            text-transform:uppercase;
            padding-bottom:10px;
        }
    }
    
    ul {
        li {
            display:block;
            margin-top:5px;
            a{
                font-size:12px;
                font-style:italic;
            }
            .time {
                color:#3c3c3b;
                font-size:10px;
                font-weight:bold;
            }
        }
    }
    
}

footer {
    position:absolute;
    bottom:0;
    z-index:12;
    display:block;
    width:100%;
    .rgba(#3f65ae, 0.8);
    padding:20px 0;
    
    .alfa {
        text-align:center;
        color:white;
        font-size:12px;
        font-weight:bold;
        font-style:italic;
        .logo {
            background:url('../img/logo-footer.png') 0 0 no-repeat;
            width:175px;
            height:49px;
            text-indent:-9999px;
            display:block;
            margin:0 auto;
            overflow:hidden;
        }
        .title {
            display:block;
            margin-top:25px;        
        }
        .phone {
            display:block;
            margin:5px 0;
            padding-bottom:5px;
            border-bottom:1px solid #fff;
            .aller(15px,bl);
            b {
                .aller(25px,bl);
            }
        }
    }
    
    .menu {
        color:white;
        .title {
            display:block;
            border-bottom:4px solid white;
            padding-bottom:5px;
            .aller(12px,bl);
            padding-left:10px;
        }
        ul {
            display:block;
            padding-top:20px;
            li{
                display:block;
                a{ 
                    color:white; 
                    &:hover {
                        color:#ccc;
                    }
                }
                font-size:11px;
                font-style:italic;
                font-weight:bold;
                padding-left:10px;
                margin-top:5px;
                &:first-child { margin-top:0; }
            }
        }
    }
}

.firefox {
    header {
        .form {
            .submit {
                input[type=submit]{            
                    padding:5px;                    
                }
            }
        }
    }
}

.internet-explorer {
    #container {
        padding-bottom:255px;
    }
    .sharebutton {
        max-height:64px;
    }
}


/*** ACTIVE MENUS ***/
body.idiomas{ 
    header{
        nav {
            ul {
                .idiomas {
                    background:url('../img/active-menu.png') 0 23px no-repeat;
                }
            }
        }
    }
}
/******************/